<%- include('../parts/header.ejs') -%>
<%- include('../parts/navbar.ejs') -%>


<br>
<% if(message1) {%><p style="color: red;font-size: 16px;text-align: center;"><%= message1 %></p>  <%}%><br/>

<div id="emails" dir="rtl" style="margin-right: 15%;background-color: white;">
  
  
</div >



<script> 
  function delete_click(clicked_id)
      {
    axios.delete('/emailForm/delete1/'+clicked_id);
    axios.delete('/emailForm/delete/'+clicked_id)
          .then((res)=>{
  
         alert('تم حذف تصميمك بنجاح')
        window.location.href = '/emailForm/email'
     })
  
      .catch((err)=>{
  
  
        console.log(err)
      })
      }
      
      function update_click(clicked_id)
      {
  
            axios.post('/uploads/update/'+clicked_id)
          .then((res)=>{
  
         window.location.href = '/emailForm/update'
     })
    .catch((err)=>{
  
    console.log(err)
      })
      }
      
      
      </script>






<%- include('../parts/footer.ejs') -%>
