<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\bootstrap\dist\css\bootstrap.min.css" >
    <link rel="stylesheet" href="\bootstrap-icons\font\bootstrap-icons.css" >
    <link rel="stylesheet" href="\css\custom.css" >
    <link rel="shortcut icon" href="/imgs/icon.png" />
    <script defer src="\js\emailsForms.js" ></script>
    <script defer src="\js\Editor.js"></script>
    <script defer src="\js\filter.js"></script>
    <script defer src="\js\customer.js"></script>
    <script defer src="\js\pageForm.js"></script>
    <script defer src="\js\QRcode.js"></script>
    <script defer src="\js\product.js"></script>
    <script defer src="\js\bill.js"></script>
    <script defer src="\js\feedback.js"></script>
    <script defer src="\js\coupon.js"></script>
    <script defer src="\bootstrap\dist\js\bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/form-submission-handler.js" defer></script>
    <script defer src="\jquery\dist\jquery.js"></script>
    <script src="/axios/dist/axios.min.js"> </script>
    <title>Business Tools</title>
   
    
    
</head>