<%- include('../parts/header.ejs') -%>
<%- include('../parts/navbar.ejs') -%>


<div class="main">


    <img src="/imgs/logo copy.png" alt="logo" width="250px" style="margin-bottom: 60px;">


 <div> <a href="/emailForm/email" ><img src="/imgs/emailForm.png" ></a></div>
 <div><a href="/pageForm/view" ><img src="/imgs/pageForm.png"  ></a></div>
 <div><a href="/QRcode/view" ><img src="/imgs/QrForm.png"  ></a></div>
 <div><a href="/bill/view" ><img src="/imgs/billForm.png"  ></a></div>





</div>


<%- include('../parts/footer.ejs') -%>
